page-home {
    ion-title * {
        margin-top:10vh; //Margen superior
        margin-bottom:5vh; //Margen inferior
    }
    img{
        height: auto;
        width: auto;
        margin: auto;
        display: auto;
      }

}
